.container {
    max-width: 600px;
    display: grid;
    justify-items: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    row-gap: 2rem;
}

.welcome-img {
    max-width: 400px;
}

.welcome-img--hidden {
    display: none;
}

.about {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}

.info__title {
    text-align: center;
    color: var(--color-accentv1);
}

.info__text--important {
    font-weight: bold;
    font-style: italic;
}

.image-container,
.map-container {
    display: none;
}

.image-container img,
.map-container img {
    width: 500px;
}

@media only screen and (min-width: 1025px) {
    
    .container {
        max-width: 1200px;
        grid-template-columns: 1fr 1fr;
    }
    
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/3;
    }

    .image-container,
    .map-container {
        display: block;
    }

    .image-container {
        align-self: center;
        justify-self: center;
    }

    .welcome-img {
        justify-self: end;
    }

    .welcome-img--hidden {
        justify-self: start;
        display: block;
    }

}