.container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    row-gap: 2rem;
}

.welcome-img {
    max-width: 300px;
}

.about {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}

.info__title {
    text-align: center;
    color: var(--color-accentv1);
}

.info__text--important {
    font-weight: bold;
    font-style: italic;
}
