@import "core/normalize.css";
@import "core/colors.css";

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--color-primary);
	color: var(--color-secondary);

	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--color-accentv1);
}

a:hover,
a:focus,
a:active {
	color: var(--color-accentv2);
}


p:not(:last-child) {
	margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4 {
	line-height: 120%;
	margin-top: 1.5em;
	margin-bottom: 1.5rem;
	font-weight: bold;
	color: var(--color-secondary-dark-500);
}

/********* NAVBAR ***********/

.title {
	margin: 0;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--color-accentv1);
}

.navbar {
	background-color: var(--color-primary-dark-500);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}

.navbar__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.navbar__item {
	margin-left: 2rem;
}

.navbar__link {
	font-size: 1.2rem;
	font-weight: 400;
	font-weight: bold;
	text-decoration: none;
}

.navbar__link--link-home {
	font-size: 1.7rem
}

.navbar__link--link-home:hover {
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
	.navbar__list {
		position: fixed;
		left: -120%;
		top: 3.5rem;
		flex-direction: column;
		background-color: #fff;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}

	.navbar__list.active {
		left: 0;
		padding-left: 0;
	}

	.navbar__item {
		margin: 1.5rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}


/********* FOOTER ***********/

.footer {
	background-color: var(--color-primary-dark-500);
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin-top: auto;
}

.footer__copy {
	text-align: center;
	font-weight: bold;
}